html
  head
    title Fun Dance Academy
    block style
  body
    nav#navbar
            ul 
               div#logo
                    img(src="/static/img/logo.png")
                    |FDA
               li #[a(href="/") Home]
               li #[a(href="/about") About]
               li #[a(href="/contact") Contact]
               li #[a(href="/service") Service]
    block content
    Footer#footer
            |© Copyright By FunDanceAcedamy