extends base.pug
block style
    style 
        include ../static/style.css
        include ../static/serviceStyle.css
block content
    section#section1 
        h2 Dance Classes
        p At Our Dance Academy, we offer a variety of dance classes catering to different styles and skill levels:
        ul 
            li Ballet
            li Jazz
            li Contemporary
            li Hip Hop
            li Latin Dance
            li Ballroom Dance
        p Our classes are designed for both children and adults, from beginners to advanced dancers.

    section#section2
        h2 Private Lessons
        p  In addition to group classes, we also offer private lessons for those who prefer personalized attention or have specific learning goals.
        p  Our experienced instructors will work with you one-on-one to help you improve your technique and reach your full potential

    section#section3
        h2 Choreography Services
        p  Need a choreographer for a special event, performance, or competition? Our talented choreographers can create custom routines tailored to your needs.
        p  We specialize in choreographing for weddings, corporate events, talent shows, and more.
