html
    head
        title Form fill up Successfully
        style
            include ../static/submitStyle.css
    body
        div#success
            h2 Your Form is Successfully fill up 
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident veritatis mollitia nihil expedita.
             | Odit doloremque eum error dicta enim animi recusandae molestiae, quaerat esse quisquam ad, deserunt repellat ut debitis Lorem ipsum dolor sit,
             |amet consectetur adipisicing elit. Animi amet dolor voluptas saepe, optio id ad excepturi. 
            button#btn  #[a(href="/") home]